@use "../../styles/variables";
@use "../../styles/mixins";

.sign-up__main {
  @include mixins.flex-display(true, flex-start) {
    min-height: 100vh;
    padding-top: 3rem;
  }
}

.sign-up__container {
  width: 80%;

  > {
    :not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.sign-up__link {
  text-align: center;
  margin-top: 4rem;

  a {
    color: variables.$primaryColor;
    transition: 0.2s linear;

    &:hover {
      color: variables.$primaryColorDark;
    }
  }
}

@include mixins.media-query(variables.$smBreakpoint) {
  .sign-up__container {
    width: 38rem;
    padding: 4rem 2.4rem;
    border: 0.1rem solid variables.$primaryColor;
    border-radius: 1rem;
    box-shadow: 0 0 2rem -1.5rem variables.$primaryColorDark;
  }
}
