@use "../../styles/variables";
@use "../../styles/mixins";

.not-found__main {
  @include mixins.flex-display(true, center, flex-start) {
    flex-direction: column;
    min-height: 100vh;
    padding: 3rem 3rem 2.5rem;
  }

  header {
    text-align: center;
    margin-bottom: 3.5rem;
  }
}

.not-found__text {
  text-align: center;
  margin-bottom: 2rem;
}

.not-found__link {
  text-align: center;

  a {
    color: variables.$primaryColor;
    transition: 0.2s linear;

    &:hover {
      color: variables.$primaryColorDark;
    }
  }
}
