$primaryColor: #3c3;
$primaryColorLight: #c2f0c2;
$primaryColorDark: #239023;

$fontSize: 1.6rem;
$fontColor: #145214;
$fontFamily: "Padauk", sans-serif;

$formError: rgba(221, 41, 41, 0.721);

$h1: 2.4rem;

$smBreakpoint: 600px;
