@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 62.5% $fontFamily;
  line-height: 1;
}

body {
  color: $fontColor;
  font-size: $fontSize;
  background-color: #fff;

  a {
    text-decoration: none;
  }
}

#app-root {
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
}

.wrapper {
  max-width: 100rem;
  margin: 0 auto;
}

.page__logo {
  width: 6.5rem;
  margin: 0 auto;
}

header,
footer,
nav,
main,
picture {
  display: block;
}

.timeline__main,
.dashboard__main,
.profile__main {
  padding: 2rem 3rem 2.5rem;
}

.timeline__main h1,
.dashboard__main h1,
.profile__main h1 {
  text-align: center;
}
