@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 62.5% "Padauk", sans-serif;
}

body {
  color: #330;
  background-color: #fff;
}

#app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
}

header,
footer,
nav,
main,
picture {
  display: block;
}
